@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  background:#050505;
  color:white;
  overflow-x:hidden;
}

body::before{
  content:"";
  position:fixed;
  width:500px;
  height:500px;
  background:#ff1493;
  filter:blur(180px);
  opacity:.12;
  top:-150px;
  left:-150px;
  z-index:-1;
}

body::after{
  content:"";
  position:fixed;
  width:500px;
  height:500px;
  background:#ff1493;
  filter:blur(180px);
  opacity:.12;
  bottom:-150px;
  right:-150px;
  z-index:-1;
}